h1, h2, h3, h4, p {
  margin: 0;
  font-weight: unset;
}

a {
  text-decoration: none;
}

.header-top {
  padding: 1.1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .9em;
}

#google-logo {
  width: 92px;
}

.account-icon {
  font-size: 2rem;
  color: #1a73e8;
}

#search-box {
  margin: 0 1.1em;
  border-color: white; 
  box-shadow: 0 2px 4px 1px rgb(233, 233, 233);
  padding: 9px;
  border-radius: 100px;
}

.clear-search:hover {
  cursor: pointer ;
}

.main-nav {
  margin-top: .2em;
  display: flex;
  overflow-x: auto;
}

.main-nav > * {
  font-size: .9rem;
  display: block;
  padding: 1em .8em;
  padding-bottom: .8rem;
}

.main-nav a {
  color: unset;
}

.current-page {
  margin: 1em 1em .6em 1.1rem;
  padding: 0 0 .2em 0;
  color: #202124;
  border-bottom: 2px solid currentColor;
}

.special-nav {
  border-left: 1px solid #e0e0e0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

main {
  padding: .4rem 0;
  color: #3c4043;
  display: grid;
  gap: .4em;
}

main, footer {
  background-color: #f1f3f4;
}

main > * {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.mobile-result {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 1em;
}

hr {
  border-bottom-width: 0;
  border-color: #d0d0d0;
  border-style: solid;
  margin: .8em 0;
}

main > *:first-child {
  margin-top: 0;
}
main > *:last-child {
  margin-bottom: 0;
}

main h1 {
  font-size: 1.25rem;
  margin: .6rem 0;
}

main p {
  font-size: .9rem;
  line-height: 1.4;
}

.result > a {
  font-size: .76rem;
  color: unset
}

.sub-page {
  color: #70757a;
}

.desktop {
  display: none;
}

.after-related {
  order: 1;
}

.desktop {
  display: none;
}

.related-searches {
  width: 100vw;
  box-sizing: border-box;
  padding-bottom: 0;
}

.related-container {
  max-height: 500px;
  transition: all .2s;
  box-sizing: border-box;
  overflow-x: hidden;
}

.related {
  display: flex;
  overflow-x: auto;
  padding: .2em 0 1em 0;
  gap: .4em;
}

.related article {
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  width: 96px;
}

.related-searches h2{
  font-size: 1.2rem;
  color: #202124;
}

.related-searches h3 {
  font-size: .9rem;
  color: #202124;
}

.related-search {
  display: flex;
  justify-content: space-between;
  padding-bottom: .4em;
}

.related article img {
  border-radius: 10px 10px 0 0;
  width: 96px;
}

.related__title, .related__subtitle {
  padding: 0 .4rem;
}

.related__title {
  padding-top: .2rem;
  font-size: .9rem;
}

.related__subtitle {
  font-size: .7rem;
  padding-bottom: .4rem;
  color: #70757a;
}

.related-toggle {
  transition: transform .2s;
}

.related-toggle.off {
  transform: rotate(180deg);
}

.more-related {
  padding: .6rem;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-right: 0;
}

.more-related a {
  min-width: 100px;
  display: grid;
  gap: .8rem;
  padding: .6rem;
}

.more-arrow {
  display: inline-block;
  height: 25px;
  width: 25px;
  padding: 1rem;
  border: 1px solid #aecbfa;
  border-radius: 50%;
  color: #1a73e8;
}

.more-text {
  font-size: .9rem;
  color: #757575;
}

.related-bar {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.related-bubble {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  gap: .4em;
}

.related-bubble {
  color: #202124;
}

footer .related-bubble {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  justify-items: center;
  background-color: #fff;
  width: 100%;
  margin: 1rem;
  font-size: .9rem;
  padding-top: .7em;
  padding-bottom: .7em;
}

.related-bubble h3 {
  color: #3c4043;
}

.related-link {
  color: unset;
  display: flex;
  align-items: center;
  padding: .8rem;
  padding-right: 0;
  border-top: solid 1px #dadce0;
  gap: 1.2rem;
}

.related-link .icon, .related-bubble .icon {
  font-size: 1.2rem;
  color: #757575;
}

footer .related-bubble .icon {
  font-size: 1.5rem;
  color: rgb(112, 117, 122);
}

.related-link:nth-last-child(2) {
  border-bottom: solid 1px #dadce0;
}

.bottom .related-link:nth-last-child(2) {
  border-bottom: none;
}

.related-searches.bottom h2 {
  padding-bottom: 2rem;
}

.related a {
  color: unset;
  display: grid;
  gap: .4em;
  align-content: start;
}

.feedback{
  text-align: right;
  font-size: .7rem;
  font-style: italic;
  padding: .8em;
}

.feedback a {
  color: #757575;
}

.hidden {
  max-height: 0;
  padding: 0;
}

.bottom {
  order: 10;
}

footer nav {
  font-size: .9rem;
}

.nav-row-mobile {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1rem;
}


@media (min-width: 1024px) {
  .desktop {
    display: unset;
  }

  .desktop-query-word {
    font-weight: bold;
  }

  .mobile {
    display: none;
  }

  .after-related {
    order: 0;
  }
}
