h1, h2, h3, h4, p {
  margin: 0;
  font-weight: unset;
}

a {
  text-decoration: none;
}

.header-top {
  padding: 1.1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .9em;
}

#google-logo {
  width: 92px;
}

.account-icon {
  font-size: 2rem;
  color: #1a73e8;
}

#search-box {
  margin: 0 1.1em;
  border-color: white; 
  box-shadow: 0 2px 4px 1px rgb(233, 233, 233);
  padding: 9px;
  border-radius: 100px;
}

.clear-search:hover {
  cursor: pointer ;
}

.main-nav {
  margin-top: .2em;
  display: flex;
  overflow-x: auto;
}

.main-nav > * {
  font-size: .9rem;
  display: block;
  padding: 1em .8em;
  padding-bottom: .8rem;
  color : #757575;
}

.main-nav a {
  color: #757575;
}

.current-page {
  margin: 1em 1em .6em 1.1rem;
  padding: 0 0 .2em 0;
  color: #202124;
  border-bottom: 2px solid currentColor;
}

.special-nav {
  border-left: 1px solid #e0e0e0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

main {
  padding: .4rem 0;
  color: #3c4043;
  display: grid;
  gap: .4em;
}

main, footer {
  background-color: #f1f3f4;
}

main > * {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}


hr {
  border-bottom-width: 0;
  border-color: #d0d0d0;
  border-style: solid;
  margin: .8em 0;
}


main > *:last-child {
  margin-bottom: 0;
}

main h1 {
  font-size: 1.25rem;
  margin: .6rem 0;
}

main p {
  font-size: .9rem;
  line-height: 1.4;
}

.result > a {
  font-size: .76rem;
  color: unset
}

.sub-page {
  color: #70757a;
}

.desktop {
  display: none;
}

.after-related {
  order: 1;
}

.desktop {
  display: none;
}

.related-searches {
  width: 100vw;
  box-sizing: border-box;
  padding-bottom: 0;
}

.related-container {
  max-height: 500px;
  transition: all .2s;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.related {
	display: flex;
	overflow-x: auto;
	padding: .2em 0;
	gap: .4em;
	margin-bottom: .8em;
}

.related article {
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  width: 96px;
}

.related-searches h2{
  font-size: 1.2rem;
  color: #202124;
}

.related-searches h3 {
  font-size: .9rem;
  color: #202124;
}

.related-search {
  display: flex;
  justify-content: space-between;
  padding-bottom: .4em;
}

.related article img {
  border-radius: 10px 10px 0 0;
  width: 96px;
  height: 96px;
}

.related__title, .related__subtitle {
  padding: 0 .4rem;
}

.related__title {
  padding-top: .2rem;
  font-size: .9rem;
}

.related__subtitle {
  font-size: .7rem;
  padding-bottom: .4rem;
  color: #70757a;
}

.related-toggle {
  transition: transform .2s;
}

.related-toggle.off {
  transform: rotate(180deg);
}

.more-related {
  padding: .6rem;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-right: 0;
}

.more-related a {
  min-width: 100px;
  display: grid;
  gap: .8rem;
  padding: .6rem;
}

.more-arrow {
  display: inline-block;
  height: 25px;
  width: 25px;
  padding: 1rem;
  border: 1px solid #aecbfa;
  border-radius: 50%;
  color: #1a73e8;
}

.more-text {
  font-size: .9rem;
  color: #757575;
}

.related-bar {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.related-bubble {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  gap: .4em;
}

.related-bubble {
  color: #202124;
}

footer .related-bubble {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  justify-items: center;
  background-color: #fff;
  width: 100%;
  margin: 1rem;
  font-size: .9rem;
  padding-top: .7em;
  padding-bottom: .7em;
}

.related-bubble h3 {
  color: #3c4043;
}

.related-link {
  color: unset;
  display: flex;
  align-items: center;
  padding: .8rem;
  padding-right: 0;
  border-top: solid 1px #dadce0;
  gap: 1.2rem;
}

.related-link .icon, .related-bubble .icon {
  font-size: 1.2rem;
  color: #757575;
}

footer .related-bubble .icon {
  font-size: 1.5rem;
  color: rgb(112, 117, 122);
}

.related-link:nth-last-child(2) {
  border-bottom: solid 1px #dadce0;
}

.bottom .related-link:nth-last-child(2) {
  border-bottom: none;
}

.related-searches.bottom h2 {
  padding-bottom: 2rem;
}

.related a {
  color: unset;
  display: grid;
  gap: .4em;
  align-content: start;
}

.feedback{
  text-align: right;
  font-size: .7rem;
  font-style: italic;
  padding: .8em;
}

.feedback a {
  color: #757575;
}

.hidden {
  max-height: 0;
  padding: 0;
}

.bottom {
  order: 10;
}

footer nav {
  font-size: .9rem;
}

.nav-row-mobile {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

.main-nav .material-icons-round, .main-nav .material-icons-outlined {
  display: none;
}

@media (max-width: 1023px) {
  .mobile-result {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 1em;
  }

  main > *:first-child {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .desktop {
    display: unset;
  }

  .header-main {
    display: grid;
    grid-template-columns: 135px minmax(650px, 725px) 1fr;
    align-items: center;
    padding: 0 .6rem;
    margin: 1rem 0;
    margin-bottom: .5rem;
  }

  .header-stuck {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.13);
  }

  #search-box {
    box-shadow: 0 2px 4px 3px rgb(233, 233, 233);
  }

  #search-box:hover, #search-box.focused {
    box-shadow: 0 2px 7px 3px rgb(223, 223, 223);
  }

  #search-box .blue-glass {
    border-left: 1px solid #dfe1e5;
    color: #4285f4;
    padding: 0 10px;
    margin-left: 10px;
  }

  .header-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #sign-in {
    margin-right: 1.2rem;
    width: 45px;
  }

  .header-side .app-icon {
    color: #3c4043;
  }

  .header-side .app-icon {
    margin-right: .6rem;
  }

  .header-side .app-icon:nth-child(2) {
    margin: 0;
  }

  header {
    position: sticky;
    z-index: 1;
    background-color: white;
    top: 0;
  }

  .main-nav {
    padding-left: 170px;
    overflow-x: visible;
    font-size: .87rem;
  }

  .main-nav > * {
    display: flex;
    align-items: center;
    gap: .4em;
    margin: 0 .1rem;
    padding: .8em;
    color: #5f6368;
    height: 17px;
  }

  .main-nav a {
    color: #5f6368;
  }

  .desktop-nav-icon {
    font-size: 1.1rem;
  }

  .current-page {
    color: #3584ea;
    border-bottom: 3px solid #1a73e8;
    padding: .8em 0 .7em 0;
    margin: 0 .9rem;
  }

  .desktop-query-word {
    font-weight: bold;
  }

  .mobile {
    display: none;
  }

  .after-related {
    order: 0;
  }


  .more-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .on-top {
    position: relative;
  }

  #more-toggle {
    cursor: pointer;
    display: flex;
  }

  .more-navs {
    position: absolute;
    top: 30px;
    left: -5px;
    background-color: #fff;
    display: none;
    /* height: 0; */
    /* width: 0; */
    box-shadow: 0 0 7px 1px rgb(203, 203, 203);
    padding: .3em 0;
    margin: .6em;
    border-radius: 10px;
    z-index: 2;
  }

  .more-navs.shown {
    display: block;
  }

  .more-navs .more {
    padding: .6em 1.2em;
    display: flex;
    gap: .4em;
  }

  .more:hover {
    background-color: rgb(229,229,229);
  }
  
  .special-nav {
    border: none;
    padding-top: .1rem;
    padding-bottom: .1rem;
    display: grid;
    align-self: center;
    width: 100%;
    align-content: center;
    justify-items: end;
  }

  .special-nav a {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: .4rem .8rem;
  }

  .special-nav a:hover {
    background-color: #f8f9fa;
    border-color: #dadce0;

  }

  main {
    border-top: 1px solid #ebebeb;
    padding-left: 184px;
    background-color: #fff;
    gap: 1rem;
  }

  .desktop-split-result {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
  }

  main > * {
    border: none;
    margin: .5rem 0;
    max-width: 600px;
  }

  main p:first-child {
    margin-bottom: 0;
  }

  .result > a {
    font-size: .88rem;
    color: #202124;
  }

  .related-searches.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .related-link.last-link {
    border-bottom: none;
    padding-bottom: 0;
  }

  .feedback {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
    font-style: normal;
  }

  .feedback::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #dadce0;
    margin-right: 10px;
  }

  .shopping-icon {
    transform: rotate(90deg);
  }

  .flight-icon {
    transform: rotate(45deg);
  }

  .main-nav .material-icons-round, .main-nav .material-icons-outlined {
    display: unset;
    font-weight: bold;
    font-size: 1rem;
  }

  #result-stats {
    color: #70757a;
  }

  .related-searches {
    max-width: 650px;
  }

  .related-bubble.related-bubble-desktop {
    color: #271baf;
    width: 270px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    justify-items: center;
    padding: .33rem .6rem;
    margin: 1rem 0;
  }

  .related-bubble-desktop h3 {
    color: inherit
  }

  .related-bubble-desktop:hover {
    background-color: #fafafa;
  }

  .related-searches.bottom {
    gap: .6em 1em;
  }

  .related-searches.bottom > * {
    padding: 0 1.8rem;
    border: none;
    box-sizing: border-box;
    background-color: #f1f3f4;
    border-radius: 100px;
    height: 48px;
  }

  .related-searches.bottom h3 {
    font-weight: bold;
    font-size: 1rem;
  }

  body > footer {
    border-top: 1px solid #dadce0;
    padding-left: 184px;
  }

  footer nav.desktop {
    display: flex;
    padding: .8rem 0 1.4rem 0;
    gap: 2rem;
  }

  .related article {
    border: none;
    color: #282828;
    width: 100px;
    margin-top: 1rem;
    }

  .related article:hover {
    text-decoration: underline;
  }

  .related article img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
    }
    
  .related {
    justify-content: space-between;
    width: 100%;
  }

  .gooogle a {
    color: #4788f4;
  }

  .gooogle a:hover {
    text-decoration: underline;
  }

  .gooogle > * {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: -2px;
    font-size: .9rem;
  }

  .gooogle img {
    height: 38px;
  }

  main .gooogle-wrapper {
    display: flex;
    max-width: 650px;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .next-page {
    flex-direction: row;
    justify-content: center;
    height: 100%;
  }

  .next-page > div {
    margin-left: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 72px;
  }

  .next-icon {
    height: 38px;
    display: flex;
    align-items: center;
  }

  a.next-page:hover  {
    text-decoration: none;
  }

  .next-page:hover .next-text {
    text-decoration: underline;
  }
}
