h1, h2, h3, h4, p {
  margin: 0;
  font-weight: unset;
}

a {
  text-decoration: none;
}

.header-top {
  padding: 1.1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .9em;
}

#google-logo {
  width: 92px;
}

.account-icon {
  font-size: 2rem;
  color: #1a73e8;
}

#search-box {
  margin: 0 1.1em;
  border-color: white; 
  box-shadow: 0 2px 4px 1px rgb(233, 233, 233);
  padding: 9px;
  border-radius: 100px;
}

.clear-search:hover {
  cursor: pointer ;
}

.main-nav {
  margin-top: .2em;
  display: flex;
  overflow-x: auto;
}

.main-nav > * {
  font-size: .9rem;
  display: block;
  padding: 1em .8em;
  padding-bottom: .8rem;
}

.main-nav a {
  color: unset;
}

.current-page {
  margin: 1em 1em .6em 1.1rem;
  padding: 0 0 .2em 0;
  color: #202124;
  border-bottom: 2px solid currentColor;
}

.special-nav {
  border-left: 1px solid #e0e0e0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

main {
  background-color: #f1f3f4;
  padding: .4rem 0;
  color: #3c4043;
  display: grid;
  gap: .4em;
}

main > * {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.mobile-result {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 1em;
}

hr {
  border-bottom-width: 0;
  border-color: #d0d0d0;
  border-style: solid;
  margin: .8em 0;
}

main > *:first-child {
  margin-top: 0;
}
main > *:last-child {
  margin-bottom: 0;
}

main h1 {
  font-size: 1.25rem;
  margin: .6rem 0;
}

main p {
  font-size: .9rem;
  line-height: 1.4;
}

.result > a {
  font-size: .76rem;
  color: unset
}

.sub-page {
  color: #70757a;
}

.desktop {
  display: none;
}

.after-related {
  order: 1;
}

.desktop {
  display: none;
}

.related-searches {
  width: 100vw;
  box-sizing: border-box;
}

.related {
  display: flex;
  overflow-x: scroll;
  padding: 1em 0;
  gap: .4em;
  max-height: 500px;
  transition: all .2s;
  box-sizing: border-box;
}

.related article {
  display: grid;
  gap: .4em;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  align-content: start;
}

.related-search {
  display: flex;
  justify-content: space-between;
}

.related article img {
  border-radius: 10px 10px 0 0;
  width: 96px;
}

.related__title, .related__subtitle {
  padding: 0 .4rem;
}

.related__title {
  padding-top: .2rem;
  font-size: .9rem;
}

.related__subtitle {
  font-size: .7rem;
  padding-bottom: .4rem;
  color: #70757a;
}

.related-toggle {
  transition: transform .2s;
}

.related-toggle.off {
  transform: rotate(180deg);
}

.hidden {
  max-height: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  .desktop {
    display: unset;
  }

  .desktop-query-word {
    font-weight: bold;
  }

  .mobile {
    display: none;
  }

  .after-related {
    order: 0;
  }
}
